body{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
}

.left-side{
    display: flex;
    flex-direction: column;
    background-image: url(olena-bohovyk-3BlVILvh9hM-unsplash.jpg);
    background-size: cover;
    width: 65vh;
    height: 100vh;
}

.img-back{
    position: relative;
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
}

.img-back span{
    font-family: 'Playfair Display', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

#odin{
    padding: 2%;
}

.left-side footer{
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 65vh;
}

footer{
    display: block;
    position: relative;
    unicode-bidi: isolate;
}

a{
    color: white;
}

input, label{
    display: block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.form-block{
    display: flex;
    padding: 8px;
}